# -------------------
# Frontend Angular
# -------------------

/node_modules/
/dist/
/out-tsc/
/tmp/
/.bazel-out/

npm-debug.log*
yarn-error.log*

.angular/cache/
/.sass-cache/
/connect.lock
/coverage/
/libpeerconnection.log
/testem.log
/typings

# -------------------
# Backend Java Spring
# -------------------

/target/
/build/

!backend/.mvn/wrapper/maven-wrapper.jar

# -------------------
# IDEs & Editors
# -------------------

# IntelliJ IDEA
/.idea/
/*.iml
/*.ipr
/*.iws

# VS Code
/.vscode/
/.history/

# Eclipse / STS
.project
.classpath
.factorypath
.settings/
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# -------------------
# System files
# -------------------

.DS_Store
Thumbs.db

# -------------------
# Logs
# -------------------

npm-debug.log*
yarn-error.log*

# -------------------
# Miscellaneous
# -------------------

# Ignore logs, caches, temp files
*.log
*.tmp
*.temp

